[submodule "imgui"]
	path = imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "implot"]
	path = implot
	url = git@github.com:epezent/implot.git
[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = git@github.com:aiekick/ImGuiFileDialog.git
[submodule "dbcppp"]
	path = dbcppp
	url = git@github.com:xR3b0rn/dbcppp.git
[submodule "vector_dbc"]
	path = vector_dbc
	url = https://bitbucket.org/tobylorenz/vector_dbc.git
