[submodule "implot"]
	path = implot
	url = git@github.com:epezent/implot.git
[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = git@github.com:aiekick/ImGuiFileDialog.git
[submodule "vector_dbc"]
	path = vector_dbc
	url = https://bitbucket.org/tobylorenz/vector_dbc.git
